html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
}
canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  pointer-events: none;
}
#canvas3d {
  z-index: 2;
}
#canvas2d {
  z-index: 4;
}

#BB_AA_Start_Button:hover {
  cursor: pointer;
}
